<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

  <%= stylesheet_link_tag "/spreadsheets/bootstrap.css" %>
  <%= stylesheet_link_tag "/spreadsheets/bootstrap-responsive.css" %>
    <!-- Le styles -->

    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 68px;
        line-height: 1.5;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      #email{
        height: 55px;
        padding: 5px;
        font-size: 32px;
        line-height: 1.5;

      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container-narrow">

      <div class="jumbotron">
       <h1>Super awesome marketing speak!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

<div class="form-errors" id="form-errors">
  </div>

      <%= form_tag "/", :method => "POST",:id => 'email_form' do %>
        <%= text_field_tag 'email', nil, :placeholder => 'jerry@gmail.com',:class => 'span4 email' %></br>
        <%= submit_tag "Notify Me", :class => "btn btn-success submit-button" %>
      <% end %>

      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Bixby Apps 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "/javascripts/jquery.js" %>
    <%= javascript_include_tag "/javascripts/bootstrap-transition.js" %>
    <%= javascript_include_tag "/javascripts/bootstrap-alert.js" %>
    <%= javascript_include_tag "/javascripts/bootstrap-modal.js" %>
    <%= javascript_include_tag "/javascripts/bootstrap-dropdown.js" %>
    <%= javascript_include_tag "/javascripts/bootstrap-scrollspy.js" %>
    <%= javascript_include_tag "/javascripts/bootstrap-tab.js" %>
    <%= javascript_include_tag "/javascripts/bootstrap-tooltip.js" %>
    <%= javascript_include_tag "/javascripts/bootstrap-popover.js" %>
    <%= javascript_include_tag "/javascripts/bootstrap-button.js" %>
    <%= javascript_include_tag "/javascripts/bootstrap-collapse.js" %>
    <%= javascript_include_tag "/javascripts/bootstrap-carousel.js" %>
    <%= javascript_include_tag "/javascripts/bootstrap-typeahead.js" %>

    <script type="text/javascript">
      $(document).ready(function() {  
        $("#email_form").submit(function(event) {
              event.preventDefault(); 
          // disable the submit button to prevent repeated clicks
          $('.submit-button').attr("disabled", "disabled");
          
          var email = $('.email').attr("value");

          if (!is_email(email)) {
              $(".form-errors").text("Please Email Proper Email Address").addClass('alert alert-error');
               $(".submit-button").removeAttr("disabled");
              return false;
          }else{
              $(".form-errors").removeClass('alert alert-error');
              $(".form-errors").text("Thanks! You are all signed up!").addClass('alert alert-success');
              $(".submit-button").hide();
              $(".email").hide();
              return true;
          };
        });
      });

      function is_email(a){
          return /^([\w!.%+\-])+@([\w\-])+(?:\.[\w\-]+)+$/.test(a);
      }

    </script>

    
  </body>
</html>
